<h1>FibTastic -- Fibonacci as a Service</h1>

<p>Enter your email and a number below, and our staff of highly trained
fibonacci experts will hand craft a fibonacci sequence and
deliver it to you via email</p>

<%= form_tag("/sequences") do %>
  <div>
  <%= label_tag "email" %>
  <%= text_field_tag "email" %>
</div>
  <div>
  <%= label_tag "sequence length" %>
  <%= text_field_tag "sequence_length" %>
</div>
<div>
  <%= submit_tag 'Save' %>
</div>
<% end %>

